@{
    ViewBag.Title = "About";
}

@*Slides*@
<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(@Url.Content("~/Content/place4meStyle/")images/slide_3.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <h2>Who We Are</h2>
                            <p class="fh5co-lead">Designed by the Team Liquid <i class="icon-heart"></i></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

@*Our Company*@
@*<div class="fh5co-about animate-box">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2>Company History</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </p>
    </div>
</div>*@

@*Our Team*@
<div class="fh5co-team fh5co-light-grey-section">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
                <h2>The Team Liquid</h2>
                <p>The Team.</p>
            </div>
            <div class="col-md-4 fh5co-staff text-center animate-box">
                <img src="@Url.Content("~/Content/place4meStyle/")images/malindu.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive" style="border-radius:50%; width:200px; height:200px; margin-left:auto; margin-right:auto">
                <h3>Malindu Dilshan</h3>
                <h4>Web Developer (Team Leader)</h4>   
                <ul class="fh5co-social">
                    <li><a href="mailto:malindudilshan389@gmail.com"><i class="icon-envelope"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 fh5co-staff text-center animate-box">
                <img src="@Url.Content("~/Content/place4meStyle/")images/niroshan.jpeg" alt="Free HTML5 Bootstrap Template" class="img-responsive" style="border-radius:50%; width:200px; height:200px; margin-left:auto; margin-right:auto">
                <h3>Niroshan Weerasooriya</h3>
                <h4>Android Developer</h4>             
                <ul class="fh5co-social">
                    <li><a href="mailto:weerasooriya.wmns@gmail.com"><i class="icon-envelope"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 fh5co-staff text-center animate-box">
                <img src="@Url.Content("~/Content/place4meStyle/")images/thilakshi.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive" style="border-radius:50%; width:200px; height:200px; margin-left:auto; margin-right:auto">
                <h3>Thilakshi Bandara</h3>
                <h4>Web Developer</h4>
                <ul class="fh5co-social">
                    <li><a href="mailto:thilakshibandara93@gmail.com"><i class="icon-envelope"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 fh5co-staff text-center animate-box">
                <img src="@Url.Content("~/Content/place4meStyle/")images/kevin.jpeg" alt="Free HTML5 Bootstrap Template" class="img-responsive" style="border-radius:50%; width:200px; height:200px; margin-left:auto; margin-right:auto">
                <h3>Kevin Nirmal</h3>
                <h4>IoT App Developer</h4>
                <ul class="fh5co-social">
                    <li><a href="mailto:kevinshayn@gmail.com"><i class="icon-envelope"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 fh5co-staff text-center animate-box">
                <img src="@Url.Content("~/Content/place4meStyle/")images/charaka.jpeg" alt="Free HTML5 Bootstrap Template" class="img-responsive" style="border-radius:50%; width:200px; height:200px; margin-left:auto; margin-right:auto">
                <h3>Charaka Dushyantha</h3>
                <h4>IoT App Developer</h4>
                <ul class="fh5co-social">
                    <li><a href="mailto:dushya7@gmali.com"><i class="icon-envelope"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 fh5co-staff text-center animate-box">
                <img src="@Url.Content("~/Content/place4meStyle/")images/madura.jpeg" alt="Free HTML5 Bootstrap Template" class="img-responsive" style="border-radius:50%; width:200px; height:200px; margin-left:auto; margin-right:auto">
                <h3>Madura Dulanja</h3>
                <h4>Web Developer</h4>
                <ul class="fh5co-social">
                    <li><a href="mailto:madura12a@gmail.com"><i class="icon-envelope"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@*Our Service*@
<div id="fh5co-services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
                <h2>Our pleasure to serve you</h2>
                <p>Get in touch today to learn about what place4me can do for your comfortable.</p>
            </div>
            <div class="col-md-4 text-center item-block animate-box">
                <h3>Strategy</h3>
                <p>Use Image Processing System (OpenCV) and feed our cloud database and pass it to the Mobile Application.</p>
                <p><a href="http://fedolab.co.nf/" class="btn btn-primary btn-outline with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>
            </div>
            <div class="col-md-4 text-center item-block animate-box">
                <h3>Idea</h3>
                <p>We propose Place4me App will help to drive you to the free slot in couple of seconds.</p>
                <p><a href="http://fedolab.co.nf/" class="btn btn-primary btn-outline with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>
            </div>
            <div class="col-md-4 text-center item-block animate-box">
                <h3>Implementation</h3>
                <p>We implement IoT App in each and every car park and it will always monitor and give update to cloud.</p>
                <p><a href="http://fedolab.co.nf/" class="btn btn-primary btn-outline with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>
            </div>
        </div>
    </div>
</div>

@*Footer Image*@
<div class="fh5co-cta" style="background-image: url(@Url.Content("~/Content/place4meStyle/")images/slide_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-md-12 text-center animate-box">
            <h3>We Try To Update The Site Everyday</h3>
            <p><a href="http://fedolab.co.nf/" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
        </div>
    </div>
</div>

<footer id="fh5co-footer" role="contentinfo">

    <div class="container">
        <div class="col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>About Us</h3>
            <p>We are Team Liquid who are undergraduates of Coventry University that is affiliated with National Institute of Business Management (NIBM). Furthermore our effective team can help users to achieve incredible results.</p>
            <p><a href="http://fedolab.co.nf/" class="btn btn-primary btn-outline with-arrow btn-sm">Join Us <i class="icon-arrow-right"></i></a></p>
        </div>
        <div class="col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>Our Services</h3>
            <p>We strive to become a global app and passionate in helping packing vehicles through innovative technologies to reach and maximize their comfort.</p>
        </div>
        <div class="col-md-4 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>Follow Us</h3>
            <ul class="fh5co-social">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/fedolab"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-google-plus"></i></a></li>
                <li><a href="#"><i class="icon-instagram"></i></a></li>
            </ul>
        </div>


        <div class="col-md-12 fh5co-copyright text-center">
            <p>&copy; @DateTime.Now.Year Place4me. All Rights Reserved. <span>Designed with <a href="https://www.asp.net/mvc" target="_blank">Asp.Net MVC</a> </span></p>
        </div>

    </div>
</footer>