@model IEnumerable<BusinessEntities.Database.slot>
@{
    ViewBag.Title = "Slot List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container body-content">
    <h2>Slots</h2>

    <table class="table" id="SlotsTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.carpark.carpark_place)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.slot_isFree)
                </th>
                @if (Context.User.IsInRole("Admin"))
                {
                    <th>
                        @Html.DisplayName("Options")
                    </th>
                }
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.carpark.carpark_place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.slot_isFree)
                </td>
                @if (Context.User.IsInRole("Admin"))
                {
                    <td>
                        @*<a href="@Url.Action("Edit","Slots", new { id = item.slot_id})" ><img src="~/Images/edit.png" /></a>*@
                        <a href="@Url.Action("Index","SlotDetails", new { id = item.slot_id})"><img src="~/Images/info.png" /></a>
                        <a onclick="Delete(@item.slot_id)"><img src="~/Images/rubbish-bin.png" /></a>
                    </td>
                }
            </tr>
        }
    </table>
    @Html.Partial("_Footer")
</div>

    <link class="a" rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/responsive/2.2.1/css/dataTables.responsive.css" />

    @section scripts{
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.js"></script>

        <script>
            $('#SlotsTable').DataTable({
                responsive: true
            });
        </script>
        <script>
            $(document).ready(function () {
                $('#SlotsTable').DataTable();
            });
        </script>
        @*<script>
            $(function () {
                var SuccessMessage = '@TempData["SuccessMessage"]'
                if (SuccessMessage != '')
                    alertify.success(SuccessMessage);
            })
        </script>*@
        <script>
            function Delete(id) {
                alertify.confirm('Place4me', 'Are You Sure to Delete this Record?', function () {
                    window.location.href = '@Url.Action("Delete","Slots")/' + id;
                }, null);
            }
        </script>
    }
